$gray-dark: #1B252A;
$gray: #999;
$gray-light: #929DA4;
$gray-extralight: #D4DDE0;
$gray-uberlight: #565656;
$red-dark: #B93653;
$red: #C94663;
$red-light: #D95673;
$white-dark: #E8E8E8;
$white-light: #F4F4F4;
$white: #FFF;
