---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tagged_posts

---
{% block title %}{{ page.title }} "{{ page.tag }}"{% endblock %}

{% block content %}
<h2>"{{ page.tag }}"</h2>

<ul class="post-archive">
{% for post in page.pagination.items %}
  <li>
    <article class="is-post {% if loop.first %}first{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="info">
        <span class="date">
          <span class="day">{{ post.date | date("d") }} </span>
          <span class="month">{{ post.date | date("M") }}</span>
        </span>
      </div>
      <h2><a href="{{ site.url }}{{ post.url }}" itemprop="name">{{ post.title }}</a></h2>
    </article>
  </li>
{% endfor %}
</ul>

{% include 'pager.html' with {'next' : 'Next Page', 'prev' : 'Previous Page'} %}
{% endblock content %}
