<!DOCTYPE HTML>
{% spaceless %}
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta_og %}{% endblock %}
    {% if site.google_site_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
    {% endif %}
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mavimo-blog.min.css" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="Mavimo's activity feed" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-152x152.png" />
    <!-- Windows 8 Tile Icons -->
    <meta name="msapplication-square70x70logo" content="/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/largetile.png" />
  </head>
  <body class="left-sidebar">
    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Content area -->
      <div id="content">
        <div id="content-inner">
          {% block content_wrapper %}
            {% block content %}{% endblock %}
          {% endblock %}
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        {% include 'sidebar.html' %}
      </div>
    </div>

    {% include 'ga.html' %}
    {% include 'scripts.html' %}

    {% block scripts %}
    {% endblock %}
    <script>
      var nav = responsiveNav(".nav-collapse");
    </script>
  </body>
</html>
{% endspaceless %}
