<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" /> -->
  </head>
  <body>
    <header>
      <a class="brand" href="{{ site.url }}/">{{ site.title }}</a>
      <nav class="nav-collapse">
        <ul>
          <li><a href="{{ site.url }}/blog">Archive</a></li>
          <li><a href="{{ site.url }}/projects">Projects</a></li>
          <li><a href="{{ site.url }}/about">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {% block content_wrapper %}
        {% block content %}{% endblock %}
      {% endblock %}
      <div class="well">
          <h4>{{ site.title }}{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</h4>
      </div>
      <h4>Links</h4>
      <ul class="nav">
          <li><a href="http://agavee.com">Agavee GmbH</a></li>
          <li><a href="http://twitter.com/mavimo">@mavimo</a></li>
      </ul>
    </div>

    <footer class="container">
      &copy; {{ site.title }}
    </footer>

    {% include 'ga.html' %}
    {% include 'scripts.html' %}

    {% block scripts %}
    {% endblock %}
  </body>
</html>
