<article class="is-post is-post-excerpt" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2><a href="{{ site.url }}{{ post.url }}" itemprop="name">{{ post.title }}</a></h2>
    <span class="byline">{{ post.excerpt }}
      {% include 'post_category.html' %}
      {% include 'post_tags.html' %}
    </span>
  </header>
  <div class="info">
    <span class="date">
      <span class="month">{{ post.date | date("M") }}<span>{{ post.date | date("F") }}</span></span>
      <span class="day">{{ post.date | date("d") }}</span>
      <span class="year">, {{ post.date | date("Y") }}</span>
    </span>

    <ul class="stats">
      <li><a href="#" class="fa fa-comment">0</a></li>
      <li><a href="#" class="fa fa-google-plus">0</a></li>
      <li><a href="#" class="fa fa-twitter">0</a></li>
      <li><a href="#" class="fa fa-facebook">0</a></li>
    </ul>
  </div>
  <a href="{{ site.url }}{{ post.url }}" class="image image-full"><img src="{{ post.image }}" alt="" /></a>
  <div itemprop="articleBody">
    {% set break_array = post.blocks.content|split('<!--break-->', 2) %}
    {{ break_array[0]|raw }}
  </div>
</article>
