<article class="is-post is-post-excerpt" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2><a href="{{ site.url }}{{ post.url }}" itemprop="name">{{ post.title }}</a></h2>
    <span class="byline">{{ post.excerpt }}
      {% include 'post_category.html' %}
      {% include 'post_tags.html' %}
    </span>
  </header>
  <div class="info">
    <span class="date">
      <span class="day">{{ post.date | date("d") }} </span>
      <span class="month">{{ post.date | date("M") }}<span>{{ post.date | date("F") | slice(3) }}</span></span>
      <span class="year">, {{ post.date | date("Y") }}</span>
    </span>

    <ul class="stats">
      <li><a href="{{ site.url }}{{ post.url }}#disqus_thread" class="fa fa-comment">0</a></li>
      <li><a href="https://plusone.google.com/_/+1/confirm?url={{ site.url }}{{ post.url }}&amp;title={{ post.title }}" class="fa fa-google-plus">0</a></li>
      <li><a href="http://twitter.com/intent/tweet?via=mavimo&amp;text={{ post.title }}&amp;url={{ site.url }}{{ post.url }}" class="fa fa-twitter">0</a></li>
      <li><a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}&amp;t={{ post.title }}" class="fa fa-facebook">0</a></li>
    </ul>
  </div>

  {% if post.image %}
  <figure>
    <span data-picture data-alt="{{ post.image.alt | striptags }}">
      {% set img_folder %}{{ site.url }}/images/posts/{{ post.image.folder }}{% endset %}
      <span data-src="{{ img_folder}}/small.png" data-media="(max-width: 640px)"></span>
      <span data-src="{{ img_folder}}/mid.png"   data-media="(min-width: 641px) and (max-width: 1200px)"></span>
      <span data-src="{{ img_folder}}/large.png" data-media="(min-width: 1201px)"></span>
      <span data-src="{{ img_folder}}/gray.png"  data-media="monochrome"></span>
      <span data-src="{{ img_folder}}/gray.png"  data-media="print"></span>
      <!--[if (lt IE 9) & (!IEMobile)]>
        <img src="{{ img_folder}}/mid.png" />
      <![endif]-->

      <!-- Fallback content for non-JS browsers. -->
      <noscript>
        <img src="{{ img_folder}}/mid.png" alt="{{ post.image.alt | striptags }}" />
      </noscript>
    </span>
    <!-- alternate text -->
    <figcaption>{{ post.image.alt }}</figcaption>
  </figure>
  {% endif %}

  <div itemprop="articleBody">
    {% set break_array = post.blocks.content|split('<!--break-->', 2) %}
    {{ break_array[0]|raw }}
  </div>
</article>
