{% extends "default" %}

{% block content_wrapper %}
<article class="is-post is-post-excerpt" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2><a href="{{ site.url }}{{ post.url }}" itemprop="name">{{ page.title }}</a></h2>
    <span class="byline">
      {% include 'post_category.html' %}
      {% include 'post_tags.html' %}
    </span>
  </header>
  <div class="info">
    <span class="date">
      <span class="day">{{ page.date | date("d") }} </span>
      <span class="month">{{ page.date | date("M") }}<span>{{ page.date | date("F") | slice(3) }}</span></span>
      <span class="year">, {{ page.date | date("Y") }}</span>
    </span>

    <ul class="stats">
      <li><a href="{{ site.url }}{{ post.url }}#disqus_thread" class="fa fa-comment">0</a></li>
      <li><a href="https://plusone.google.com/_/+1/confirm?url={{ site.url }}{{ post.url }}&amp;title={{ post.title }}" class="fa fa-google-plus">0</a></li>
      <li><a href="http://twitter.com/intent/tweet?source=mavimo&amp;text={{ page.title }}&amp;url={{ site.url }}{{ post.url }}" class="fa fa-twitter">0</a></li>
      <li><a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}&amp;t={{ post.title }}" class="fa fa-facebook">0</a></li>
    </ul>
  </div>
  {% if page.image %}
    <img src="{{ site.url }}{{ post.image }}" alt="" />
  {% endif %}
  <div itemprop="articleBody">
    {{ page.blocks.content|raw }}
  </div>
  <footer itemscope itemprop="author" itemtype="http://schema.org/Person">
    <p>By <a href="https://plus.google.com/u/0/{{ site.google_author }}?rel=author" itemprop="name">Marco Vito Moscaritolo</a>.</p>
  </footer>
</article>

{% include 'disquis.html' %}

{% endblock %}
