.button {
  background-color: #c94663;
  background-image: image-url('bg1.png');
  @include border-radius(0.4em);
  text-align: center;
  @include box-shadow(inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15));
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-decoration: none;
  -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
  @include text-shadow(-1px -1px 0px rgba(0, 0, 0, 0.5));
}

a.button {
  &:hover {
    background-color: #d95673;
  }
  &:active {
    background-color: #b93653;
  }
}

@media (max-width: $mobile) {
  .button {
    display: block;
    width: 100%;
    font-size: 1.25em;
    padding: 0.75em 0 0.75em 0;
    margin: 0.5em 0 0.5em 0;
  }
}

@media (min-width: $mobile + 1px) {
  .button {
    display: inline-block;
    padding: 0.5em 2em 0.5em 2em;
  }
}
