@media (max-width: 640px) {
  #logo {
    display: none;
  }
}

@media (min-width: 641px) {
  #logo {
    background-color: #c94663;
    background-image: url('images/bg1.png');
    padding: 1.75em 0.5em 1.75em 0.5em;
    border-radius: 0.4em;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
    a {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      color: #fff;
      font-size: 2em;
      letter-spacing: 0.1em;
      text-decoration: none;
    }
  }
}

@media (min-width: 641px) and (max-width: 1000px) {
  #logo {
    display: none;
  }
}
