@media (min-width: $mobile + 1px) {
  .pager {
    padding: 3em 0 0 0;
    .previous {
      margin-right: 0.6em;
    }
    .next {
      margin-left: 0.2em;
    }
    .button {
      height: 2.75em;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 2.75em;
    }
  }
}
