#sidebar {
  color: $gray-light;
  @include text-shadow(-1px -1px 0px rgba(0, 0, 0, 0.5));

  section,
  nav {
    margin: 2em 0 0 0;
    font-size: 0.9em;
    position: relative;
  }

  strong,
  b {
    color: $white;
  }
  a {
    color: $gray-extralight;
  }
  h2, h3, h4, h5, h6 {
    color: $white;
  }
  header {
    margin: 0 0 1.25em 0;
  }

  .subtitle {
    margin-top: 1em;
    text-align: center;
  }

  .is-text-style1 .inner {
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    @include border-radius(0.4em);
    padding: 1.25em;
    @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25));

    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #sidebar {
    position: fixed;
    top: 44px;
    width: 100%;
    z-index: 1000;
    background: #28303a image-url('bg1.png');
    background: #364050 image-url('bg1.png');
    @include box-shadow(inset -1px 0 0 0 rgba(255, 255, 255, 0.15), inset -0.1em 0 0.5em 0 rgba(0, 0, 0, 0.25));
    .subtitle,
    section {
      display: none;
    }
    #nav {
      top: 1em;
      margin: 2em 0 2em 0;
    }
    .nav-toggle {
      position: fixed;
      top: 4px;
      left: 0;
      color: $white;
      z-index: 1002;
      width: 0;
      text-decoration: none;
      visibility: hidden;

      &:before {
        content: "≡";
        padding: 10px;
        font-size: 4em;
        visibility: visible;
      }
    }

    .social-button {
      font-size: 1.4em;
      position: fixed;
      z-index: 1002;
      top: 0;
      right: 10px;
      a {
        display: inline-block;
        margin: 13px 5px;
      }
    }
  }

  .js .nav-collapse.opened {
    max-height: 9999px
  }
}

@media screen and (min-width: $mobile + 1px) and (max-width: $tablet) {
  #sidebar {
    top: 60px;
  }
}

@media screen and (min-width: $tablet + 1px) {
  #sidebar {
    position: absolute;
    top: 0;
    padding: 3em 1.35em 1em 1.15em;
    width: 14em;
    background: #364050 image-url('bg1.png');
    @include box-shadow(inset -0.1em 0em 0.35em 0em rgba(0, 0, 0, 0.15));
  }

  .social-button {
    font-size: 2em;
    a {
      display: inline-block;
      width: 20%;
      margin: 6%;
    }
  }


  // body {
  //   &.left-sidebar #sidebar {
  //     left: 0;
  //   }
  //   &.right-sidebar #sidebar {
  //     right: 0;
  //   }
  // }
}

@media screen and (max-width: $mobile) {
  #sidebar {
    .social-button {
      .fa-google-plus-square,
      .fa-bitbucket-square,
      .fa-facebook-square {
        display: none;
      }
      a {
        margin: 10px 5px;
      }
    }
  }
}
