#titleBar {
  display: none;
}

@media screen and (max-width: $tablet) {
  #titleBar {
    display: block;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #364050 image-url('bg1.png');
    width: 100%;
    .title {
      color: $white;
      line-height: 44px;
      font-size: 1.25em;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      letter-spacing: 0.1em;
      @include text-shadow(-1px -1px 0px rgba(0, 0, 0, 0.5));
      @include box-shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.25));
      text-align: center;
    }
  }
}

@media screen and (min-width: $mobile + 1px) and (max-width: $tablet) {
  #titleBar {
    .title {
      line-height: 60px;
    }
  }
}
