---
layout: default
title: Posts Archive
generator: pagination
pagination:
    max_per_page: 20
use:
    - posts
---

<h2>Posts Archive</h2>
<ul>
{% for post in page.pagination.items %}
  <li style="clear: both">
    <div style="float: left;">
      <div>{{ post.date | date("d") }}.{{ post.date | date("m") }}</div>
      <div>{{ post.date | date("Y") }}</div>
    </div>
    <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  <li>
{% endfor %}
</ul>

{% include 'pager.html' with {'next' : 'Next Page', 'prev' : 'Previous Page'} %}
