---
layout: default
title: Projects
generator: pagination
pagination:
    max_per_page: 3
    provider: data.projects
---
<h2>Projects</h2>

<p>I'm involved in some open source projects, and relased some tools, you can find my projects above.</p>
{% for project in page.pagination.items %}
  <article itemscope itemtype="http://schema.org/SoftwareApplication">
    <h3 itemprop="name">{{ project.title }}</h3>
    <div itemprop="description">{{ project.content|raw }}</div>
  </article>
{% endfor %}

{% include 'pager.html' with {'next' : 'Next Project', 'prev' : 'Previous Project'} %}
