---
layout: default
title: Projects
generator: pagination
pagination:
    max_per_page: 3
    provider: data.projects
---
{% block meta_description %}Marco Vito Moscaritolo's projects. Information related to my personal projects.{% endblock %}
{% block meta_keywords %}projects, personal, open source, development, php, drupal{% endblock %}

{% block content_wrapper %}
<h3>Projects</h3>

<p>I'm involved in some open source projects, and relased some tools, you can find my projects above.</p>

{% for project in page.pagination.items %}
  {% include 'project.html' %}
{% endfor %}

<p>I also contributed to</p>
<ul>
  <li>Drupal 5, 6, 7, 8</li>
  <li>Ansible</li>
  <li>AngularJS</li>
</ul>

{% include 'pager.html' with {'next' : 'Next Project', 'prev' : 'Previous Project'} %}
{% endblock %}
