// http://colorschemedesigner.com/#5u32eBRrGv5vy
$primary-color-1: #CC002C;
$primary-color-2: #9A263F;
$primary-color-3: #87001D;
$primary-color-4: #E5385E;
$primary-color-5: #E56681;

$secondary-color-a-1: #065B8D;
$secondary-color-a-2: #1D4E6A;
$secondary-color-a-3: #023B5D;
$secondary-color-a-4: #3790C5;
$secondary-color-a-5: #5C9EC5;

$secondary-color-b-1: #DDDA00;
$secondary-color-b-2: #A7A529;
$secondary-color-b-3: #929000;
$secondary-color-b-4: #EEEB3B;
$secondary-color-b-5: #EEEC69;

$background : white;
$selected-bg: $secondary-color-a-1;
$selected-txt: white;
$link: $primary-color-1;


